@import "../../styles/palette";

.Categories {
    background: @gray-background;
    max-width: 300px;
    border-radius: 5px;
}

.Categories__header{
    text-align: center;
    padding: 10px;
    font-size: 27px;
}