@import "../../styles/palette";

.Event {
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    background: @gray-background;
    max-width: 900px;
    border-radius: 5px;
    padding: 5px;
}

.Event__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.event__logo{
    height: 100px;
    width: 200px;
    overflow: hidden;
   
}
.event__img{
    max-height: 100%;
    max-width: 100%;
    position: relative;
    -o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
}

.event__description {
    width: 350px;
    padding-left: 20px;
    padding-right: 20px
}

.event__date {
    width: 150px;
}
.event__capacity {
    width: 100px
}

.event__price {
    width: 60px;
}